[Desktop Entry]
Encoding=UTF-8
Name=Link to Best Practices Software engineering
Type=Link
URL=https://docs.google.com/spreadsheets/d/1GJKIWM5aoXLxjq7C_3FXq1q-YMPCNpJgs6y-tdiG3w8/edit#gid=0
Icon=text-html
